.input-form {
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.input-form > div, .input-form > div > input {
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 15px auto 0;
}

select, input {
    width: 100%;
}

.statusOffline {
    color: red;
}

.statusOnline {
    color: green;
}